body {
    flex-wrap: wrap;
    margin: 0;
    display: flex;
    min-height: 100v;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    border-left: 20px;
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #dfdfdf;
}

#header .left-header #logo {
    font-size: 25px;
    font-weight: bold;
}

#header .left-header {
    display: flex;
    flex-direction: row;
}

#header .left-header #search-bar{
    display: flex;
}

#header .left-header #search-bar #search {
    border: none;
}

.mid-header {
    display: flex;
    flex-direction: row;
}

.right-header {
    display: flex;
    flex-direction: row;
}

.right-header #left-dp img{
    width: 40px;
    border-radius: 50%;
}

#main-body {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
}

.left-body {
    position: fixed;
    top: 68px;
    bottom: 0;
    overflow-y: auto;
    width: 324px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-top: 10px;
}

.left-body .left-group .first-left {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #dfdfdf;
}

.left-body .left-group .first-left div {
    display: flex;
}

.left-body .left-group .second-left {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border: 1px solid #ccc;
    box-shadow: 20px 2px 2px #dfdfdf;
}

.left-body .left-group .second-left div {
    display: flex;
}

.left-body .left-group .third-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #dfdfdf;
    border-bottom: none;

}

.left-body .left-group .third-left #advert {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-body .left-group .third-left #advert img {
    width: 200px;
    padding-right: 5px;
}

.center-body {
    width: 432px;
    margin-top: 68px;
    display: flex;
    flex-direction: row;
    margin-left: 324px;
}

.center-body .seconds {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px; 
}

.center-body .seconds .seconds-content{
    display: flex;
    flex-direction: row;
}

.center-body .seconds .seconds-content .user-seconds{
    display: grid;
}

.center-body .seconds .seconds-content .user-seconds img{
    width: 112.5px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.center-body .seconds .seconds-content .user-seconds #user-details img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.center-body .seconds .seconds-content .user-friend-one{
    display: grid;
}

.center-body .seconds .seconds-content .user-friend-one .seconds-img{
    width: 112.5px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.center-body .seconds .seconds-content .user-friend-one #user-details img{
    width: 40px;
    border-radius: 50%;
}

.center-body .seconds .seconds-content .user-friend-two{
    display: grid;
}

.center-body .seconds .seconds-content .user-friend-two .seconds-img{
    width: 112.5px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.center-body .seconds .seconds-content .user-friend-two #user-details img{
    width: 40px;
    border-radius: 50%;
}

.center-body .seconds .seconds-content .user-friend-three{
    display: grid;
}

.center-body .seconds .seconds-content .user-friend-three .seconds-img{
    width: 112.5px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.center-body .seconds .seconds-content .user-friend-three #user-details img{
    width: 40px;
    border-radius: 50%;
}

.center-body .user-post{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 680px;
}

.center-body .user-post .post-section{
    display: flex;
}
.center-body .user-post .post-header{
    display: flex;
}
.center-body .user-post img{
    width: 30px;
    height: 30px;
}

.center-body .user-post .post-section img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.center-body .user-post .post-kind{
    display: flex;
    justify-content: space-evenly;
}

.center-body .user-post .post-kind div{
    display: flex;
}

.postfeed-post-one{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 680px;
}

.postfeed-post-one #post-one-upper{
    display: flex;
}

.postfeed-post-one #post-one-upper img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.postfeed-post-one .engagements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.postfeed-post-one .engagements img{
    width: 20px;
}

.postfeed-post-one .engagements .engagements-left{
    display: flex;
}

.right-body {
    width: 432px;
    display: flex;
    flex-direction: row;
}
