body {
    margin: 0;
    display: flex;
    min-height: 100v;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    border-left: 20px;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#header .left-header #logo {
    font-size: 25px;
    font-weight: bold;
}

#header .left-header {
    display: flex;
    flex-direction: row;
}

#header .left-header #search-bar{
    display: flex;
}

#header .left-header #search-bar #search {
    border: none;
}

.mid-header {
    display: flex;
    flex-direction: row;
}

.right-header {
    display: flex;
    flex-direction: row;
}

.right-header #left-dp img{
    width: 40px;
    border-radius: 50%;
}

#main-body {
    display: flex;
    flex-direction: row;
}

.left-body {
    display: flex;
    justify-content: space-between;
}

.left-body .left-group .first-left {
    display: flex;
    flex-direction: column;
}

.left-body .left-group .first-left div {
    display: flex;
}

.left-body .left-group .second-left {
    display: flex;
    flex-direction: column;
}

.left-body .left-group .second-left div {
    display: flex;
}

.left-body .left-group .third-left {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.left-body .left-group .third-left #advert {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-body .left-group .third-left #advert img {
    transform: scale(.045);
}