body {
    flex-wrap: wrap;
    margin: 0;
    display: flex;
    min-height: 100v;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    border-left: 20px;
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #dfdfdf;
    
}

ul{
    list-style: none;
}

.left-header{
    flex: 20% 0 0;
}

.right-header{
    flex: 0 0 20%;
}

.mid-header{
    flex: 0 60% 0;
}

#header .left-header #logo {
    font-size: 25px;
    font-weight: bold;
}

#header .left-header {
    display: flex;
    flex-direction: row;
}

#header .left-header #search-bar{
    display: flex;
}

#header .left-header #search-bar #search {
    border: none;
}

.mid-header {
    display: flex;
    flex-direction: row;
}

.right-header {
    display: flex;
    flex-direction: row;
}

.right-header #left-dp img{
    width: 40px;
    border-radius: 50%;
}

#main-body {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.left-body {
    position: fixed;
    top: 68px;
    bottom: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-top: 10px;
    flex: 20% 0 0;
    width: 20%;
}

.left-body .left-group .first-left {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #dfdfdf;
}

.left-body .left-group .first-left div {
    display: flex;
}

.left-body .left-group .second-left {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border: 1px solid #ccc;
    box-shadow: 20px 2px 2px #dfdfdf;
}

.left-body .left-group .second-left div {
    display: flex;
}

.left-body .left-group .third-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #dfdfdf;
    border-bottom: none;

}

.left-body .left-group .third-left #advert {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-body .left-group .third-left #advert img {
    width: 200px;
    padding-right: 5px;
}

.center-body {
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 60%;
    flex: 0 60% 0;
    margin-left: 20%;
}

.center-body .seconds {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px; 
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
}


.center-body .seconds .seconds-content{
    display: flex;
    flex-direction: row;
}

.center-body .seconds .seconds-content .user-seconds{
    display: grid;
}

.center-body .seconds .seconds-content .user-seconds img{
    width: 112.5px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.center-body .seconds .seconds-content .user-seconds #user-details img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.center-body .seconds .seconds-content .user-friend-one{
    display: grid;
}

.center-body .seconds .seconds-content .user-friend-one .seconds-img{
    width: 112.5px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.center-body .seconds .seconds-content .user-friend-one #user-details img{
    width: 40px;
    border-radius: 50%;
}

.center-body .seconds .seconds-content .user-friend-two{
    display: grid;
}

.center-body .seconds .seconds-content .user-friend-two .seconds-img{
    width: 112.5px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.center-body .seconds .seconds-content .user-friend-two #user-details img{
    width: 40px;
    border-radius: 50%;
}

.center-body .seconds .seconds-content .user-friend-three{
    display: grid;
}

.center-body .seconds .seconds-content .user-friend-three .seconds-img{
    width: 112.5px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.center-body .seconds .seconds-content .user-friend-three #user-details img{
    width: 40px;
    border-radius: 50%;
}

.center-body .user-post{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 680px;
    padding-top: 15px; 
    overflow: hidden;
    border-radius: 10px;
}

.center-body .user-post .post-section{
    display: flex;
}
.center-body .user-post .post-header{
    display: flex;
}
.center-body .user-post img{
    width: 30px;
    height: 30px;
}

.center-body .user-post .post-section img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.center-body .user-post .post-kind{
    display: flex;
    justify-content: space-evenly;
}

.center-body .user-post .post-kind div{
    display: flex;
}

.postfeed-post-one{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 680px;
    padding-top: 15px; 
    overflow: hidden;
    border-radius: 10px;
}

.postfeed-post-one #post-one-upper{
    display: flex;
}

.postfeed-post-one #post-one-upper img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.postfeed-post-one .engagements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.postfeed-post-one .engagements img{
    width: 20px;
}

.postfeed-post-one .engagements .engagements-left{
    display: flex;
}

.postfeed-post-two{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 680px;
    padding-top: 15px;
    overflow: hidden;
    border-radius: 10px;
}

.postfeed-post-two #post-two-upper{
    display: flex;
    flex-direction: row;
}

.postfeed-post-two #post-two-upper img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.postfeed-post-two #post-two-content{
    display: flex;
    flex-direction: column;
}

.postfeed-post-two #post-two-content #post-images{
    display: flex;
}

.postfeed-post-two #post-two-content #post-images img{
    display: flex;
    width: 340px ;
}

.postfeed-post-two .engagements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.postfeed-post-two .engagements img{
    width: 20px;
}

.postfeed-post-two .engagements .engagements-left{
    display: flex;
}

.right-body {
    display: flex;
    position: fixed;
    margin-top: 10px;
    top: 68px;
    right: 0;
    flex-direction: column;
    background-color: white;
    width: 20%;
    flex: 0 0 20%;
}

.right-body .trending{
    display: flex;
    flex-direction: column;
}

.right-body .trending .trending-post #trending-post-upper{
    display: flex;
}

.right-body .trending .trending-post #trending-post-upper .trending-user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.right-body .trending .trending-post #post-trending-content{
    display: flex;
    flex-direction: column;
}

.right-body .trending .trending-post #post-trending-content img{
    width: 324px;
}

.right-body .trending .trending-post .engagements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-body .trending .trending-post .engagements .engagements-left{
    display: flex;
    flex-direction: row;
}

.right-body .trending .trending-post .engagements img{
    width: 20px;
}

.right-body .personal-message{
    display: flex;
    flex-direction: column;
}

.right-body .personal-message img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.right-body .personal-message #contact-users {
    display: flex;
    flex-direction: column;
}

.right-body .personal-message #contact-users div{
    display: flex;
    align-items: center;
}

.right-body .personal-message #contact-users img{
    margin-right: 10px;
}

.group-message {
    display: flex;
    flex-direction: column;
}

.group-message #group-users div{
    display: flex;
    align-items: center;
    
}

.group-message #group-users img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}